<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		<!-- Meta -->
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Site wide stylesheets -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
		<!-- Atom Feed -->
		<link rel="alternate" type="application/atom+xml" title="RSS Feed" href="{{ url_for('atom_rss_feed') }}">
		<!-- favicon -->
		<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" /> 

		<!-- BLOCK: head -->
		{% block head %}

			<!-- Site title -->
			<title>FlaSBee</title>

		{% endblock head %}

	</head>
	
	<body>
		<div class="container">
			<!-- BLOCK: body_header -->
			{% block body_header %}

				<div class="top">
					<h1>
						<a href="/">David Lartey</a> : <a id="tagline" href="/more/">God, computers, minimalism...</a>
					</h1>
				</div> <!-- /end .top -->

			{% endblock body_header %}

			<!-- BLOCK: body_content -->
			{% block body_content %}


			{% endblock body_content %}

	
			<!-- BLOCK: body_footer -->
			{% block body_footer %}

				<div class="subscribe">
					<p>
						<!-- <a href="#">rss</a>
						 | -->
						<a href="<?php echo $blog_url; ?>contact" target="_blank" title="My Contact Page.">Get in touch</a>
					</p>
				</div> <!-- /end .subscribe -->

				<div class="footer">
					<a href="<?php echo $blog_url; ?>about">About</a> :: 
					<a href="<?php echo $blog_url; ?>archives">Archives</a> ::
					<a href="<?php echo $blog_url; ?>contact">Contact</a>
					<!--
					 ::
					<a href="<?php echo $blog_url; ?>/uncopyright">Uncopyright</a> :: 
					<a href="<?php echo $blog_url; ?>/OTHERLINK/">Another Footer Link</a>
					-->
				</div><!-- /end .footer-->
				
			{% endblock body_footer %}

		</div>
	</body>
</html>